<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tootoo.twentytwo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tootoo.twentytwo.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tootoo.twentytwo.BioActivity"
            android:label="@string/title_activity_bio" >
        </activity>
        <activity
            android:name="tootoo.twentytwo.StoreActivity"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name="tootoo.twentytwo.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name="tootoo.twentytwo.SocialActivity"
            android:label="@string/title_activity_social"
            android:parentActivityName="tootoo.twentytwo.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tootoo.twentytwo.MenuActivity" />
        </activity>
        <activity
            android:name="tootoo.twentytwo.ResourcesActivity"
            android:label="@string/title_activity_resources"
            android:parentActivityName="tootoo.twentytwo.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tootoo.twentytwo.MenuActivity" />
        </activity>
    </application>

</manifest>
